<form [formGroup]="form" class="ion-margin"> 
  <div id="sign-in-button"></div>
  <div class="ion-margin-vertical">
    <ion-item lines="none">
      <ion-input label="" errorText="* Ingresar Correo Electrónico" formControlName="email" type="text" placeholder="Ingrese Correo"></ion-input>
    </ion-item>
  </div>
  <div class="ion-margin-vertical">
    <ion-item lines="none">
      <ion-icon 
        [name]="type ? 'eye' : 'eye-off'" 
        slot="end" 
        color="dark" 
        (click)="changeType()">
      </ion-icon>
      <ion-input label="" errorText="* Ingresar Contraseña" formControlName="password" [type]="type ? 'password' : 'text'" 
        placeholder="Ingrese Contraseña" [counter]="true" minlength="8" [counterFormatter]="customCounterFormatter"></ion-input>
    </ion-item>
  </div>
</form>

<p class="ion-text-right ion-margin-horizontal">
  <ion-text id="forgot-password" color="medium">Olvido su Contraseña?</ion-text>
</p>

<div class="ion-margin-horizontal">
  <ion-button
    *ngIf="!isLoading"
   class="ion-margin-horizontal"
    size="large" 
    expand="block" 
    shape="round" 
    color="primary"
    (click)="onSubmit()">
    <ion-text>Ingresar</ion-text>
  </ion-button>
  <ion-button
    *ngIf="isLoading"
   class="ion-margin-horizontal"
    size="large" 
    expand="block" 
    shape="round" 
    color="primary">
    <ion-spinner></ion-spinner>
  </ion-button>
</div>
<!--
<p class="ion-text-center">
  <ion-text color="medium">OR</ion-text>
</p>

<p class="ion-text-center">
  <ion-icon name="logo-facebook" color="tertiary"></ion-icon>
  <ion-icon name="logo-twitter" color="secondary"></ion-icon>
  <ion-icon name="logo-google" color="danger"></ion-icon>
</p>
-->

<ion-modal
  #forgot_pwd_modal
  trigger="forgot-password"
  cssClass="inline_modal"
  (ionModalDidDismiss)="reset($event)"
  [breakpoints]="[0.1, 0.5, 0.9]"
  [initialBreakpoint]="0.5">
  <ng-template>
    <app-reset-password></app-reset-password>
  </ng-template>
</ion-modal>