<form [formGroup]="form" class="ion-margin" >
  <div class="ion-margin-vertical">
    <ion-item lines="none">
      <ion-input label="" errorText="* Campo requerido" formControlName="cedula" type="text" placeholder="Ingresar Cédula"></ion-input>
    </ion-item>
  </div> 
  <div class="ion-margin-vertical">
    <ion-item lines="none">
      <ion-input label="" errorText="* Campo requerido" formControlName="name" type="text" placeholder="Ingresar Nombres"></ion-input>
    </ion-item>
  </div>
  <div class="ion-margin-vertical">
    <ion-item lines="none">
      <ion-input label="" errorText="* Campo requerido" formControlName="email" type="email" placeholder="Ingresar Correo"></ion-input>
    </ion-item>
  </div>
  <div class="ion-margin-vertical">
    <ion-list>
      <ion-item>
        <ion-select aria-label="licencia" placeholder="Seleccionar Licencia">
          <ion-select-option value="A">A</ion-select-option>
          <ion-select-option value="B">B</ion-select-option>
          <ion-select-option value="C">C</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <div class="ion-margin-vertical">
    <ion-item lines="none">
      <ion-icon 
        [name]="type ? 'eye' : 'eye-off'" 
        slot="end" 
        color="dark" 
        (click)="changeType()">
      </ion-icon>
      <ion-input label="" errorText="* Campo requerido" minlength="8" formControlName="password" [type]="type ? 'password' : 'text'" 
        placeholder="Ingrese una Contraseña"></ion-input>
    </ion-item>
  </div>
</form>

<div class="ion-margin-horizontal">
  <ion-button
    *ngIf="!isLoading"
    size="large" 
    expand="block" 
    shape="round" 
    color="primary"
    (click)="onSubmit()">
    <ion-text>Registrarse</ion-text>
  </ion-button>
  <ion-button
    *ngIf="isLoading"
    size="large" 
    expand="block" 
    shape="round" 
    color="primary">
    <ion-spinner></ion-spinner>
  </ion-button>
</div>
<!--
<p class="ion-text-center">
  <ion-text color="medium">OR</ion-text>
</p>

<p class="ion-text-center">
  <ion-icon name="logo-facebook" color="tertiary"></ion-icon>
  <ion-icon name="logo-twitter" color="secondary"></ion-icon>
  <ion-icon name="logo-google" color="danger"></ion-icon>
</p>

-->