<ion-header  [translucent]="true" class="ion-no-border">
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <img style="width: 50px;"  src="assets/imgs/logo.png">
      </ion-buttons>
      <ion-title class="ion-text-center" color="dark">
          <strong>TMA TRANSPORTES</strong>
      </ion-title>
      <ion-buttons slot="end">
          <!-- <ion-label *ngIf="dispositivo=='web'">{{usuario}}</ion-label>-->
          <ion-button>
              <ion-icon color="dark" slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchTravels()" placeholder="Buscar Viaje"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let entrega of entregas" (click)="openDetail()">
            <div class="borde-rojo"></div> <!-- Div para el borde rojo -->
          <ion-label>
            <h3>Punto Inicial: {{ entrega.puntoInicial }}</h3>
            <h3>Punto Final: {{ entrega.puntoFinal }}</h3>
            <p>Material Enviado: {{ entrega.materialEnviado }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>