<ion-header  [translucent]="true" class="ion-no-border">
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <img style="width: 50px;"  src="assets/imgs/logo.png">
      </ion-buttons>
      <ion-title class="ion-text-center" color="dark">
          <strong>TMA TRANSPORTES</strong>
      </ion-title>
      <ion-buttons slot="end">
          <ion-button>
              <ion-icon color="dark" slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchUsers()" placeholder="Buscar Usuario"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let car of filteredCars" (click)="viewUserDetails(car.id)">
      <div class="borde-rojo"></div> <!-- Div para el borde rojo -->
      <ion-label>
        <h2>{{ car.name }}</h2>
        <ion-row>
          <ion-col>
            <p>Tipo: {{ car.type }}</p>
          </ion-col>
          <ion-col>
            <p>{{ car.capacity }}</p>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab  vertical="bottom" horizontal="end">
    <ion-fab-button id="register-car">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<ion-modal
  #register_car
  trigger="register-car"
  cssClass="inline_modal"
  (ionModalDidDismiss)="reset($event)"
  [breakpoints]="[0.1, 0.5, 0.9]"
  [initialBreakpoint]="0.90">
  <ng-template>
    <app-register-car></app-register-car>
  </ng-template>
</ion-modal>